BOT_TOKEN="MT..."
DEBUG_WEBHOOK="https://discord.com/api/webhooks/..."
PGPASSWORD="youshallnotpass"
PGHOST="example.com"
PGDATABASE="postgres"
MUSIC_WEBHOOK="https://discord.com/api/webhooks/..."
LAVA_URI="http://lavalink.jirayu.net:13592"
LAVA_PW="youshallnotpass"